.follow-btn-small {
  color: #0cafff;
  cursor: pointer;
  font-size: 12px;
  background: transparent;
  border: none;
  font-weight: 600;
}
.follow-btn-medium {
  color: #0cafff;
  cursor: pointer;
  background: transparent;
  font-size: 15px;
  border: none;
  font-weight: 600;
}
.follow-btn-large {
  color: #0cafff;
  font-size: 20px;
  cursor: pointer;
  background: transparent;
  border: none;
  font-weight: 600;
}
.requested {
  color: red;
}
.follow-btn-friendReqSent-small {
  background-color: #2a52be;
}

.follow-btn-small:hover {
  color: #2a52be;
}
.follow-btn-medium:hover {
  color: #2a52be;
}
.follow-btn-large:hover {
  color: #2a52be;
}
.friendReqSent {
  color: black;
}

.friendReqSent:hover {
  color: red;
}
